/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
/* REGULAR */
@font-face {
  font-family: "montserratRegular";
  src: url("../font/montserrat-regular.woff2") format("woff2"),
    url("../font/montserrat-regular.woff") format("woff");
}
/* BOLD */
@font-face {
  font-family: "montserratBold";
  src: url("../font/montserrat-bold.woff2") format("woff2"),
    url("../font/montserrat-bold.woff") format("woff");
}
/* ITALIC */
@font-face {
  font-family: "montserratItalic";
  src: url("../font/montserrat-italic.woff2") format("woff2"),
    url("../font/montserrat-italic.woff") format("woff");
}

/* ******************************** */

/* Colores */
:root {
  --color-bgMenu: #464553;
  --color-bgBody: #b7d4e9;
  --color-linkAction: #fdfdfd;
  --color-link: #707070;

  /* Tamaños  */
  --size-screen: 1366px
  
}

/* ******************************** */

html {
  font-family: "monserratRegular", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--color-bgBody);
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: var(--size-screen);
  height: 100%;
  padding: 50px 100px;
}

header {
  background-color: var(--color-bgMenu);
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
  align-items: center;
}

a{
  color: var(--color-link);
  transform: scale(1);
  transition: all 0.3s;
}

a:hover{
  color: var(--color-linkAction);
  transform: scale(1);
  transition: all 0.3s;
}

.action{
  color: var(--color-linkAction);
  text-decoration: underline;
}

/* header {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;

  & .menu__navegacion a {
    text-decoration: none;
    color: white;
    padding: 0 15px;
  }

  & .logotipo {
    color: white;
    font-size: 40px;
  }
}

main {
  height: 80vh;
} */

.ecommerce {
  display: flex;
  gap: 1.25rem;
}
.ecommerce__carrita {
}
.ecommerce__lupa {
  
}
.logo {
}
.logotipo {
  font-family: "monserratBold";
}
.menu {
  display: flex;
  gap: 1.25rem;
  & .menu__about-us {
  }
  & .menu__contacts {
  }
  & .menu__home {
  }
  & .menu__products {
  }

}
